div.Overlay {
  position: absolute;
  width: 100vw;
  z-index: 14;
  top: 0px;
  height: 100vh;
  padding: 5%;
  background: url("../../content/images/background-black.png");
}

.Overlay-content {
  float: left;
  width: 100%;
}

.Closebtn {
  color: white;
  text-decoration: none;
  font-size: 2em;
  cursor: pointer;
  text-align: right;
  float: right;
}
