.pdfPage {
    background-color: white;
    padding: 2rem;
    height: 842px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 4rem;
}

.logoWrapper {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

img.pdfPage.center{
    margin-left: auto;
    display: block;
    margin-right: auto;
}

img.itemImage {
    display: block;
    margin: auto;
    height: 275px;
    margin-bottom: 5px;
    max-width: 100%;
}

.membrete {
    width: 96.5%;
    height: 2px;
    position: absolute;
    bottom: 60px;
}

.categoriesWrapper {
    height: 360px;
    overflow: hidden;
}

.categoryValue{
    text-align: left;
}

img.pdfLogo {
    height: 80px;
    width: auto;
}

img.pdfLogo.right{
    float: right;
}

img.pdfLogo.left{
    float: left;
}

.pdfPage{
    background-repeat: no-repeat;
}

.pdfPage.leftTop{
    background-position: left top;
}

.pdfPage.leftCenter{
    background-position: left center;
}

.pdfPage.leftBottom{
    background-position: left bottom;
}

.pdfPage.rightTop{
    background-position: right top;
}

.pdfPage.rightCenter{
    background-position: right center;
}

.pdfPage.rightBottom{
    background-position: right bottom;
}

.pdfPage.centerTop{
    background-position: center top;
}

.pdfPage.centerCenter{
    background-position: center center;
}

.pdfPage.centerBottom{
    background-position: center bottom;
}