.LoginForm {
    color: #828282;
    padding: 0px 20px 0px 20px;
    height: 100vh;
}

.marginTop{
    margin-top: 20px;
}

#forgotPasswordBtn{
    color: #828282;
    cursor: pointer;
}

#forgotPasswordBtn:hover{
    font-weight: bold;
}