div.Category{
    padding-bottom: 5px;
}

.CategoryName {
    float: left;
    font-weight: bold;
}

.CategoryValue {
    float: left;
    margin-left: 5px;
}

div.autocompleteLabel {
    float: left;
    margin-left: 5px;
}

.EditingCategory{
    border: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgb(158, 158, 158);
    float: left;
}

.EditingCategory:focus{
    outline: none;
}

.CategoryInformation {
    float: left;
    width: 87%;
}

.CategoryActions {
    float: right;
}

.TextAreaStyle{
    border: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgb(158, 158, 158);
    width: 100%;
    height: 7rem;
}