#profileImage {
    background-size: contain;
    background-position:center top;
    background-repeat: no-repeat;
}

.artistName {
    color: white;
    width: 100%;
    text-align: left;
    padding: 2%;
    font-size: 1.5em;
}

#profileImage img {
    vertical-align: top;
    width: 100%;
    opacity: 0;
}

@media (min-width: 992px) and (orientation:portrait) {
    .col-md-6 {
        width: 100%;
    }
}