#filterInput{
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
    width: 40%;
}

#filterTypeSelect{
    margin-right: 5px;
    max-width: 33%;
}