.whiteNavLogo {
    width: 110px;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

@media screen and (max-width: 400px) {
    .whiteNavLogo{
        content: url("../../../../content/images/logo_white_clip.png");
        width: 20px;
    }
}

.ProfileNavBar {
    background-color: #4b4b4b;
    color: white;
}

.UserIconMenu {
    float: left;
}

.userFullName {
    float: left;
    padding-top: 16px;
}