body {
    height: 100vh;
    color: #828282;
    background-color: #e8e8e8;
}

div.container-fluid{
    padding: 0px;
}

select {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    padding: 5px;
}

div.row{
    margin:0px;
}

.whiteNavLogo{
    content: url("./content/images/logo_white_name.png");
}

.col-xs-12, .col-md-12{
    padding: 0px;
}

div.Overlay {
    position: absolute;
    width: 100vw;
    z-index: 14;
    top: 0px;
    height: 100rem;
    padding: 0% 5%;
    background: url('./content/images/background-black.png');
}

.Overlay-content {
    float: left;
    width: 100%;
}

.Closebtn {
    color: white;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    text-align: right;
    float: right;
}

div.FullImageOverlay-overlay{
    background-color: black;
}

.FullImageOverlay-image{
    width: 100%;
}

.FullImage-button {
    cursor: pointer;
    text-align: right;
    color: white;
    background-color: black;
    padding: 2px 5px;
}

.FullImage-button:hover{
    font-weight: bold;
}

button.defaultBtn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
    color: #828282;
}

button.defaultBtn:hover{
    background-color: #ccc;
    border: 1px solid #828282;
}
